
textarea {
  font-size: 17px;
}

.main-textarea {
  width: 300px;
  height: 100px;
}

.message-inputs {
  margin-left: 2px;
  position: sticky;
  left: 140px;
  margin: 1px;
}

.App {
  background-color: #282c34;
  color: white;
  background-size: cover;
  min-height: 100vh;
}

.forum-page-new {
  margin-left: 50px;
}

.button-new-message {
  background: rgb(234, 238, 22);
  font-size: 20px;
  padding: 5px 15px;
}

.button-reply {
  margin-left: 26px;
  background-color: darksalmon;
}

.message {
  margin-left: 20px;
  margin-bottom: 5px;
}

.message-header {
  display: flex;
}

.message-subject {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  outline: none;
}

.message-userName {
  color: dodgerblue;
  font-style: italic;
}

.message-content {
  margin-left: 25px;
  margin-bottom: -17px;
  background-color: white;
  color: black;
  width: 75%;
  border-style: groove;
}