html, body { height: 100%; width: 100%; margin: 0; }

canvas{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    color: ye
}

.container{
    height:100%;
}

.elevator-button{
    z-index: 2;
    position: absolute;
}